*{
	padding:0; margin:0;
}
img{
	border:0;
}
body{
	background:#f5f5f5 url(images/body-bg.jpg) top repeat-x; font:12px Arial; color:#555; line-height:1.3;
}
.karkas{
	width:755px; margin:0 auto;
}
header{
	padding:30px 0 0 0; margin-bottom:20px;
}
.logo{
	margin:0 auto 20px auto; display:block;
}
nav ul{
	list-style:none; overflow:hidden;
	border-bottom:3px solid #9dc5f0;
	border-left:1px solid #f3f3f3;
	border-top:1px solid #f3f3f3;
	border-right:1px solid #f3f3f3;
}
nav ul li{
	float:left; padding:8px 25px; border-left:1px solid #f4f4f4;
}
nav ul li:first-child{
	border-left:none;
}
nav ul li a{
	color:#5f5d67; font-size:14px; text-decoration:none; font-weight:bold;
}
nav ul li a:hover{
	text-decoration:underline;
}

.main-content{
	overflow:hidden;
}
.main-content h1{
	margin-bottom:20px; font-size:24px; font-family:"Times New Roman", Times, serif; font-weight:normal;
}
.main-content h2{
	margin-bottom:20px; font-size:22px; font-family:"Times New Roman", Times, serif; font-weight:normal;
}
.main-content h3{
	margin-bottom:20px; font-size:20px; font-family:"Times New Roman", Times, serif; font-weight:normal;
}
.main-content p{
	margin-bottom:20px;
}
.main-content-img{
	margin-bottom:20px;
}
article{
	width:420px; padding:30px 30px 32000px 30px; float:left; background:#fff; margin-bottom:-32000px;
}
aside{
	float:right; background:#fff; width:225px; padding:30px 10px 32000px 30px; margin-bottom:-32000px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px;
}
aside h1{
	font-family:Georgia, "Times New Roman", Times, serif!important;
}
footer{
	padding:20px 0; color:#5f5d67;
}